<!-- PROJECT GALLERY SCROLL SECTION -->
<section id="project-gallery" class="projects-section">
    <h2 class="gallery-heading">More Projects</h2>
    <div class="project-grid">
      <a href="/" class="project-card hidden">
        <div class="image-container">
          <img src="{% static 'images/roku-homepage.png' %}" alt="Roku Salon">
          <div class="overlay"><h3>Roku Salon</h3></div>
        </div>
      </a>
  
      <a href="/" class="project-card hidden">
        <div class="image-container">
          <img src="{% static 'images/kmc-homepage.png' %}" alt="KMC Projects">
          <div class="overlay"><h3>KMC Projects</h3></div>
        </div>
      </a>
  
      <a href="/" class="project-card hidden">
        <div class="image-container">
          <img src="{% static 'images/nf-beauty-homepage.png' %}" alt="NF Beauty">
          <div class="overlay"><h3>NF Beauty</h3></div>
        </div>
      </a>
  
      <a href="/" class="project-card hidden">
        <div class="image-container">
          <img src="{% static 'images/rgrope-homepage.png' %}" alt="RG Rope Solutions">
          <div class="overlay"><h3>RG Rope Solutions</h3></div>
        </div>
      </a>
  
      <a href="/" class="project-card hidden">
        <div class="image-container">
          <img src="{% static 'images/tsc-homepage.png' %}" alt="Tailored Spirits Co">
          <div class="overlay"><h3>Tailored Spirits Co</h3></div>
        </div>
      </a>
    </div>
  </section>