{% extends "base.html" %}
{% block content %}

    <section>
        <div class="hero-image">
            <h1>Hello.</h1>
        </div>
    </section>

    <section>
        <div class="home-cta home-cta-work">

        </div>
        <div class="home-cta home-cta-about">

        </div>
        <div class="home-cta home-cta-contact">

        </div>
    </section>

    <section>
        <div class="work-section">

        </div>
    </section>

    <section>
        <div class="about-section">
            
        </div>
    </section>

    <section>
        <div class="contact-section">
            
        </div>
    </section>
    
{% endblock %}