{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    body {
        background-color: #FFFFF4;
    }
</style>

<!-- Logo -->
  <a href="/" class="absolute top-6 left-6 z-10">
    <img src="{% static 'images/lylo-b-logo.svg' %}" alt="LYLO Logo" class="h-20" />
  </a>

  <!-- WHO WE ARE -->
  <div class="light-green-box">
    <h1>WHO WE ARE</h1>
  </div>

  <!-- WHAT WE DO -->
  <div class="dark-green-box">
    <h1>WHAT WE DO</h1>
  </div>

  <!-- WORK WITH US (Dark) -->
  <div class="burgundy-box">
    <h1>WORK WITH US</h1>
  </div>

  <!-- WORK WITH US (Light) -->
  <div class="blue-circle-box">
    <h1>WORK WITH US</h1>
  </div>

  <!-- FIND OUT MORE -->
  <div id="pink-section" class="pink-box">
    <h1>FIND OUT MORE</h1>
  </div>

{% endblock %}