{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
body {
  background-color: #f4b6d2 !important;
  overflow: hidden;
}

h1 {
    font-family: "mr-eaves-xl-modern";
    font-weight: 800;
    font-style: normal;
    color: #490F1C;
    text-transform: uppercase;
    word-spacing: 40px;
}

.scrolling-text {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.coming-soon {
  position: absolute;
  right: -100%;
  font-size: 6rem;
  animation: scroll-left 10s linear infinite;
}

.circle {
  position: absolute;
  top: 92%; 
  left: 85%;
  width: 45px;
  height: 45px; 
  background-color: #490F1C;
  border-radius: 50%;
}

@keyframes scroll-left {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
</style>

<div class="scrolling-text">
  <h1 class="coming-soon">Coming Soon</h1>
</div>

<div class="circle"></div>
{% endblock %}
