{% extends "base.html" %}
{% block content %}
{% load static %}

<div id="page" class="site">

    <div id="feather" class="feather"></div>
  
    <main id="content" class="site-content" role="main">
  
      <section id="intro" class="full-screen pt-5 gradient-orange">
        <h1>A title</h1>
  
        <div id="clouds-layer-1" class="clouds"></div>
        <div id="clouds-layer-2" class="clouds"></div>
      </section>
  
      <section id="panels">
  
        <div id="panels-container" style="width: 500%;">
          <article id="panel-1" class="panel full-screen gradient-green">
            <div class="container">
              <div class="row">
                <div class="col-6">
  
                  <img src="" alt="">
  
                </div>
                <div class="col-6 d-flex flex-column">
  
                  <h2>Panel 1</h2>
  
                  <p class="step-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Including versions of Lorem Ipsum.
                  </p>
  
                  <div class="panels-navigation text-right">
                    <div class="nav-panel" data-sign="plus"><a href="#panel-2" class="anchor">Next</a></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article id="panel-2" class="panel full-screen gradient-blue">
            <div class="container">
              <div class="row">
                <div class="col-6">
  
                  <img src="" alt="">
  
                </div>
                <div class="col-6 d-flex flex-column">
  
                  <h2>Panel 2</h2>
  
                  <p class="step-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Including versions of Lorem Ipsum.
                  </p>
  
                  <div class="panels-navigation">
                    <div class="nav-panel" data-sign="minus"><a href="#panel-1" class="anchor">Prev</a></div>
                    <div class="nav-panel" data-sign="plus"><a href="#panel-3" class="anchor">Next</a></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article id="panel-3" class="panel full-screen gradient-green">
            <div class="container">
              <div class="row">
                <div class="col-6">
  
                  <img src="" alt="">
  
                </div>
                <div class="col-6 d-flex flex-column">
  
                  <h2>Panel 3</h2>
  
                  <p class="step-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Including versions of Lorem Ipsum.
                  </p>
  
                  <div class="panels-navigation">
                    <div class="nav-panel" data-sign="minus"><a href="#panel-2" class="anchor">Prev</a></div>
                    <div class="nav-panel" data-sign="plus"><a href="#panel-4" class="anchor">Next</a></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article id="panel-4" class="panel full-screen gradient-blue">
            <div class="container">
              <div class="row">
                <div class="col-6">
  
                  <img src="" alt="">
  
                </div>
                <div class="col-6 d-flex flex-column">
  
                  <h2>Panel 4</h2>
  
                  <p class="step-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Including versions of Lorem Ipsum.
                  </p>
  
                  <div class="panels-navigation">
                    <div class="nav-panel" data-sign="minus"><a href="#panel-3" class="anchor">Prev</a></div>
                    <div class="nav-panel" data-sign="plus"><a href="#panel-5" class="anchor">Next</a></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article id="panel-5" class="panel full-screen gradient-green">
            <div class="container">
              <div class="row">
                <div class="col-6">
  
                  <img src="" alt="">
  
                </div>
                <div class="col-6 d-flex flex-column">
  
                  <h2>Panel 5</h2>
  
                  <p class="step-description">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Including versions of Lorem Ipsum.
                  </p>
  
                  <div class="panels-navigation text-right">
                    <div class="nav-panel" data-sign="minus"><a href="#panel-4" class="anchor">Prev</a></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>
  
      <section id="map" class="full-screen gradient-orange"></section>
  
    </main>
  
  </div>

    
{% endblock %}